<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-md-center">
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profil']">My profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/profil#myform" class="nav-link">Add a subject</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="dec()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>

        <p class="card-text">{{description}}</p><br><br>
        <div id="votes">
          <div *ngFor="let option of options; let i = index">
            <div *ngIf="option">
              <div class="row">
                <div class="col-1"><input #checkBox="ngModel" [(ngModel)]="shown" id={{i}} type="radio" name="vote"
                    value={{option}}></div>
                <div class="col-11">
                  <strong>{{option}}</strong><span class="pull-right">{{(nbVoteOptions[i]/nbVotesTotal*100).toFixed(0)}}
                   %  ( {{nbVoteOptions[i]}} ) </span>
                  <div class="progress progress-striped active">
                    <div class="bar" [style.width.%]="(nbVoteOptions[i]/nbVotesTotal*100).toFixed(0)"></div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <p>Total of votes = {{nbVotesTotal}}</p>


          <br><br>
          <button type="submit" (click)="vote()">Vote</button>
          <button type="submit" [routerLink]="['/home']">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
