<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  </head>



<nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-md-center">
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white font-weight-bold" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white font-weight-bold" [routerLink]="['/profil']" routerLinkActive="router-link-active">My
          profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white font-weight-bold" href="/profil#myform" routerLinkActive="router-link-active">Add
          a subject</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white font-weight-bold" (click)="dec()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>

        <p class="card-text">{{description}}</p><br><br>
        <div id="votes">
          <div *ngFor="let option of options; let i = index">
            <div *ngIf="option">
              <div class="row">
                <div class="col-1"><input #checkBox="ngModel" [(ngModel)]="shown" id={{i}} type="radio" name="vote"
                    value={{option}}></div>
                <div class="col-11">
                  <strong>{{option}}</strong><span class="pull-right">{{(this.rates[i]).toFixed(0)}}
                    % ({{nbVoteOptions[i]}} Votes) </span>
                  <div class="progress progress-striped active">
                    <div class="bar" [style.width.%]="(nbVoteOptions[i]/nbVotesTotal*100).toFixed(0)"></div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <p>Total of votes = {{nbVotesTotal}}</p>

          <br><br>
          <div class="text-center">
            <button type="submit" class="btn btn-dark" (click)="vote()">Vote</button>
            <button type="submit" class="btn btn-dark" [routerLink]="['/home']">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
