<div id="login">
  <div id="LoginForm">
    <div class="container">
      <div class="login-form">
        <h1>Sign up</h1>
        <div class="main-div">
          <form [formGroup]="registerForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Enter your firstname" formControlName="firstName" required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter your lastname" formControlName="lastName" required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter your email" formControlName="email" required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field>
                <input id="pass" matInput type="password" placeholder="Enter your password" formControlName="password">
              </mat-form-field>
            </div>

            <br>

            <button type="submit" class="btn btn-primary" (click)="register()">Login</button>
            <br><br>
            <p>Already member ? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign in</a></p>
            <!--{{loginForm.value | json}}-->
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
